src/vcpp/.vs/
src/vcpp/tesseract.vcxproj.user
tesseract.exp
tesseract.lib
tesseract.map
tesseract_debug.exp
tesseract_debug.ilk
tesseract_debug.lib
tesseract_debug.exe
tesseract_debug.pdb
tesseract.pdb
config/init.cfg
config/restore.cfg
config/saved.cfg
config/servers.cfg
log.txt
src/vcpp/Debug
src/vcpp/Debug64
src/vcpp/Release64
src/vcpp/Release
